*{
    margin: 0px;
}

.heading{
    color: black;
    float: left;
    font-size: 40;
    text-decoration: none;
    background-color: lightgrey;
    padding: 0px 15px;
    margin-top: -95px;
    position: absolute;
}
.heading p{
    margin-top: -8px;
    margin-left: 52px;
    font-size: 20;
    color: black;
}

nav{
    background-color: #35424A;
    width: 100%;
    height: 90px;
    border-bottom: 5px solid #E8491D;
    position: absolute;
    margin-top: -130px;

}

ul{
    margin-top: 30px;
    float: right;
    list-style: none;
}
ul li{
    float: left;
    width: 155;
    line-height: 20px;
    text-align: center;
}
ul li a{
    display: block;
    text-decoration: none;
    color: antiquewhite;
    padding: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}
ul li a:hover{
    color: white;
    border: 2px solid #E8491D;
    background-color: #35424A;
}
ul li ul li{
    display: none;
}
ul li:hover ul li{
    display: block;
    background-color: #35424A;
}
ul li ul{
    margin-top: 5px;
    line-height: 40px;
    position: relative;
}

.place_list{
    margin-top: 130px;
}
.place_list h1, p, hr, img{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 25px;
}
.place_list p{
    font-size: 20px;
    padding: 5px;
    text-align: justify;
}
.place_list hr{
    margin-top: 10px;
}
.place_list h1{
    margin-top: 25px;
}
.place_list img{
    width: 1050px;
    height: auto;
}

.contact{
    margin-top: 130px;
    text-align: center;
}
.contact hr{
    margin-bottom: 20px;
}
.contact input{
    padding: 10px;
    width: 450px;
    height: 40px;
    margin-bottom: 5px;
}
.contact a{
    padding: 10px 50px;
    background-color: #E8491D;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
}
.contact a:hover{
    color: white;
}


.footer{
    background-color: black;
    padding: 30px;
    text-align: center;
    color: white;
    margin-top: 30px;
    width: 1306px;
    height: 100px;
    border-top: 6px solid #E8491D;
}
.footer p{
    color: white;
    margin-top: 20px;
}
.footer p a{
    background-color: lightgrey;
    padding: 8px 25px;
    color: black;
    text-decoration: none;
}

i{
    border: solid black;
    border-width: 0px 3px 3px 0px;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);
    margin-right: 8px;
}
